# Data Science Notes

## SQL

### Creating Table

`
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype
);
`


Examples of data types: PRIMARY KEY, UNIQUE, NOT NULL (must have value), DEFAULT (e.g. DEFAULT 10)

### Inserting Values

`
INSERT INTO table_name (col1, col2)
VALUES (val1, val2)
`

### Table Modification

`
ALTER TABLE table_name
ADD column_name datatype
`

`
DELETE FROM table_name
WHERE column_name = value
`

`
UPDATE table_name
SET column1 = value1, column2 = value2
WHERE any_column = some_value
`

### Accessing a Database

`
SELECT model
FROM cars
WHERE color = 'blue'
`

Operators Available:
* SELECT (*, DISTINCT, AS column_name)
* WHERE (IS (NOT) NULL, BETWEEN, =)
* AND, OR
* LIKE (% wildcard - 0 or more)
* ORDER BY (DESC & ASC)
* LIMIT 10

***

----

## Python

### Importing Files

`files = glob.glob("states*.csv")`

`df_list = []`  
`for filename in files:`  
  `df_list.append(pd.read_csv(filename))`

`df = pd.concat(df_list)`

### Regex

* **.**   -   Wildcard
* **?**   -   Optional Wildcard
* **[]**   -   Single match for any characters inside
* **{#}**   -   Quantify the exact number of that character
* **|**   -   Match either of two expressions
* **^,$**   - Anchors. Match text at start or end of string
* **\w**   -   number/character (\W for opposite)
* **\d**   -   number (\D for opposite)

### Useful Pandas Functions

* `df[df.column > 40]` -  Select rows of df

* `data.describe(include = 'all')` - Summarises data

* `df.info` - Amount of non-null types and dtypes

* `df.shape` - Identifies no. of rows and columns

* `df = df.drop_duplicates()` - Drops duplicates (.reset_index() as well)

* `df.columns = map(str.lower, df.columns)` - Applies lower to each of the column names

* `df.isna().sum()` - Find null values

* `df[column] = df[column].where(df[column] > 40, np.nan)` - Replaces all values > 40 with np.nan

* `df.groupby(by = 'column_name').mean()` - Grouping values in a dataframe

* `df.replace('a','b', regex=True)` - Replaces cells in df

* `df.apply(lambda x: x+x, axis=1)` - Doubles all cells

* `df['category'].value_counts(dropna=False)` - Counts the amount in each category

#### **Crosstab is used to compute the frequency of two or more variables (usually null)**
  
`pd.crosstab(`
 
<i>tabulates the boroughs as the index</i>    
`restaurants['boro'],  `
 
<i>tabulates the number of missing values in the url column as columns</i>  
`restaurants['url'].isna(), `
 
<i>names the rows</i>  
`rownames = ['boro'],`
 
<i>names the columns</i>  
`colnames = ['url is na'])  `
)

#### **Melt is used to clean a dataframe to make each row an observation**

`annual_wage=annual_wage.melt(`

<i>which column to use as identifier variables</i>  
`      id_vars=["boro"], `

<i>column name to use for “variable” names/column headers (ie. 2000 and 2007) </i>  
`      var_name=["year"], `

<i>column name for the values originally in the columns 2000 and 2007</i>  
`      value_name="avg_annual_wage") `
 
`print(annual_wage)`
)

#### **Pivot to restructure a dataframe**
`data_tidy = data.pivot(index='Country', columns='Feature', values='Observation').reset_index()`

***

***

## Hypothesis Testing: Associations

### Assumptions
1. All observations are independant and randomly sampled
2. Standard deviations of groups should be equal
3. Data should be normally distributed or large sample size
4. Groups seperated by categorical variable should be independant

<center><img src="Images/HT - Associations.png" width="1000" height="700"></center>

In [3]:
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency
from statsmodels.stats.multicomp import pairwise_tukeyhsd

* `tstat,pval = ttest.ind(data1, data2)`
* `fstat,pval = f_oneway(data1, data2, data3)`
* `chi2,pval,dof,expected = chi2_contingency(ab_contingency)`
* `tukey_reuslts = pairwise_tukeyhsd(data1,data2,p-value)` - Pandas db has to be crosstabbed with pd.crosstab()